:root {
  --lines: #575656;

}


/*tabel*/
table{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.7rem;
    border-top: 0.35rem solid var(--lines);
    border-left: 0.35rem solid var(--lines);
    border-right: 0.35rem solid var(--lines);
    border-bottom: 0.35rem solid var(--lines);
    
}

#kanAtas{
    color: rgb(60, 182, 38);
}

#kanInteAtas{
    color: rgb(197, 42, 22);
}

td, th{
    padding: 0.7rem 0.5rem;
    text-align: center;
    border-left: 0.35rem solid var(--lines);
    border-right: 0.35rem solid var(--lines);
}

th{
    border-bottom: 0.35rem solid var(--lines);
}

@media(min-width:700px) {
    td, th{
        padding: 0.7rem 3rem;
    }
}

@media(min-width:1000px) {
    td, th{
        padding: 0.7rem 5.4rem;
    }

}