@font-face {
    font-family: "Rowdies-Regular";
    src: url(/css/fonts/Rowdies-Regular.ttf);
}

@font-face {
    font-family: "IndieFLower";
    src: url(/css/fonts/IndieFlower-Regular.ttf);
}

/* Colors */

html{
    background-color: rgb(255, 255, 204);
    font-size: 105%;
}

h1, h2, h3, nav ul li a, nav .active, main #secondaryNav ul li a, table{
    color: rgb(58, 58, 58);
}

/* fonts */ 
h1, h2, h3, nav{
    font-family: Rowdies-Regular;
}

p{
    font-family: IndieFlower;
}


h1{
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 2rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

/* Nav*/
nav{
    font-size: 1.2rem;
    /*width: 45%;
    margin: 0 auto;*/
}


nav ul{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 1rem;
    
}



nav ul li{
    border-color: rgb(255, 255, 204);
    border-style: solid;
    border-width: 0.4rem;
}


nav ul li a{
    text-decoration: none;
}


/*nav a:hover, nav a:focus{}*/

nav ul > :hover, nav ul > :focus{
    border-style: solid;
    border-width: 5px;
    border-color: rgba(58, 58, 58, 0.5);
}

nav .active{
    border-color: rgb(58, 58, 58);
    border-style: solid;
    border-width: 5px;
}

hr{
    height: 0.3rem;
    background-color: rgb(58, 58, 58);
    margin: 1rem auto;
    width: 25rem;

}

/**********************/






@media(min-width:700px) {
    nav ul li{
        margin: 0.7rem;
    }

    hr{
        width: 35rem;
    }
}

@media(min-width:1000px) {
    nav ul li{
        margin: 1.2rem;
    }

    hr{
        width: 45rem;
    }
}
